.topbar-warp,
.header,
.footer-warp,
.footer-copy {
  width: 1226px;
  margin: 0 auto;
}
.active {
  color: #00a8ff !important;
}
.common-header {
  position: relative;
}
.common-header h2 {
  font-size: 24px;
  color: #4f4f4f;
  line-height: 40px;
  height: 40px;
}
.topbar {
  height: 40px;
  background-color: #404040;
}
.topbar .topbar-warp .topbar-l {
  float: left;
}
.topbar .topbar-warp .topbar-l a {
  float: left;
  line-height: 40px;
  color: #b2b2b2;
  font-size: 14px;
  margin: 0px 10px;
}
.topbar .topbar-warp .topbar-l a:hover {
  color: #fff;
}
.topbar .topbar-warp .topbar-r {
  float: right;
  height: 40px;
}
.topbar .topbar-warp .topbar-r li {
  float: left;
  height: 40px;
  padding: 0 10px;
}
.topbar .topbar-warp .topbar-r li span {
  color: #b2b2b2;
}
.topbar .topbar-warp .topbar-r li a {
  line-height: 40px;
  color: #b2b2b2;
  font-size: 14px;
  margin: 0 10px;
}
.topbar .topbar-warp .topbar-r li a:hover {
  color: #fff;
}
.topbar .topbar-warp .topbar-r .shop-car {
  width: 85px;
  height: 40px;
  background: #4c4c4c;
  padding: 0px 0px 0px 35px;
  position: relative;
}
.topbar .topbar-warp .topbar-r .shop-car i {
  position: absolute;
  font-size: 24px;
  color: #b2b2b2;
  left: 15px;
  top: 8px;
}
.topbar .topbar-warp .topbar-r .shop-car .goods {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 9998;
  text-align: left;
  line-height: 18px;
  background-color: #fff;
  box-shadow: 0 2px 3px #ccc;
  padding-top: 10px;
  max-height: 300px;
  min-width: 303px;
  overflow: hidden;
  font-size: 14px;
}
.topbar .topbar-warp .topbar-r .shop-car .goods ul {
  max-height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
}
.topbar .topbar-warp .topbar-r .shop-car .goods ul li {
  height: 60px;
  border-bottom: 1px solid #a0a0a0;
  padding: 10px 0;
  width: 280px;
  float: left;
  margin-left: 10px;
  line-height: 40px;
}
.topbar .topbar-warp .topbar-r .shop-car .goods ul li .goods-pic {
  width: 60px;
  height: 60px;
  line-height: 58px;
  overflow: hidden;
  text-align: center;
  float: left;
}
.topbar .topbar-warp .topbar-r .shop-car .goods ul li .goods-pic a {
  display: block;
}
.topbar .topbar-warp .topbar-r .shop-car .goods ul li .goods-pic a img {
  max-width: 60px;
  max-height: 60px;
  vertical-align: middle;
}
.topbar .topbar-warp .topbar-r .shop-car .goods ul li .goods-info {
  width: 220px;
  float: left;
}
.topbar .topbar-warp .topbar-r .shop-car .goods ul li .goods-info .goods-name {
  width: 132px;
  line-height: 16px;
  margin-left: 10px;
  float: left;
}
.topbar .topbar-warp .topbar-r .shop-car .goods ul li .goods-info .goods-name p {
  font-size: 14px;
  color: #262626;
  line-height: 16px;
}
.topbar .topbar-warp .topbar-r .shop-car .goods ul li .goods-info .goods-price {
  overflow: hidden;
  float: left;
  line-height: 16px;
}
.topbar .topbar-warp .topbar-r .shop-car .goods .minicart-info {
  padding: 10px 14px 10px 10px;
  min-height: 40px;
  color: #262626;
  line-height: 16px;
}
.topbar .topbar-warp .topbar-r .shop-car .goods .minicart-info .minicart-info-l {
  float: left;
}
.topbar .topbar-warp .topbar-r .shop-car .goods .minicart-info .minicart-info-l p:nth-child(2) {
  font-size: 24px;
  line-height: 30px;
  margin-left: -4px;
  color: red;
}
.topbar .topbar-warp .topbar-r .shop-car .goods .minicart-info .minicart-info-r {
  float: right;
}
.topbar .topbar-warp .topbar-r .shop-car .goods .minicart-info .minicart-info-r a {
  width: 110px;
  line-height: 32px;
  display: block;
  text-align: center;
  background-color: #00a8ff;
  margin-top: 6px;
  color: #fff;
}
.header {
  height: 77px;
  padding-top: 23px;
  position: relative;
}
.header .logo {
  float: left;
  width: 234px;
  height: 77px;
}
.header .nav {
  float: left;
  height: 77px;
}
.header .nav li {
  float: left;
  padding: 14px 20px 37px;
}
.header .nav li a {
  color: #333333;
}
.header .nav li a:hover {
  color: #00a8ff;
}
.header .hot-show {
  min-height: 89px;
  background-color: #fff;
  z-index: 10000;
  position: absolute;
  width: 100%;
  padding-top: 15px;
  top: 100px;
  display: none;
}
.header .hot-show ul {
  width: 1180px;
  margin: 0 auto;
  width: 1226px;
  height: 180px;
  background-color: #fff;
  z-index: 111111;
  padding: 10px 0 25px;
  box-sizing: border-box;
  overflow: hidden;
}
.header .hot-show ul li {
  padding: 0 17px 5px 0;
  width: 190px;
  min-height: 130px;
  text-align: left;
  float: left;
  cursor: default;
}
.header .hot-show ul li a {
  display: block;
  background-color: #fff;
  color: #333;
}
.header .hot-show ul li a:hover {
  color: #00a8ff;
}
.header .hot-show ul li a img {
  width: 190px;
  height: 130px;
  box-sizing: border-box;
}
.header .hot-show ul li a p {
  padding-top: 3px;
  font-size: 14px;
}
.header .nav-list-show {
  display: none;
  min-height: 89px;
  background-color: #fff;
  z-index: 10000;
  position: absolute;
  width: 100%;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
  transition: all 0.4s ease-in-out;
  top: 100px;
}
.header .nav-list-show ul {
  display: block;
  overflow: hidden;
  width: 1226px;
  min-height: 50px;
  margin: 0 auto;
  margin-left: 70px;
}
.header .nav-list-show ul li {
  width: 175px;
  height: 80px;
  float: left;
  text-align: center;
  opacity: 0.5;
}
.header .nav-list-show ul li a {
  color: #666666;
  font-size: 14px;
}
.header .nav-list-show ul li a:hover {
  color: #00a8ff;
}
.header .nav-list-show ul li a p {
  font-size: 14px;
}
.header .nav-list-show ul li a p img {
  vertical-align: middle;
  display: inline-block;
  width: 40px;
  height: 40px;
}
.header .search {
  float: right;
  position: relative;
  width: 347px;
  height: 67px;
}
.header .search form {
  padding-bottom: 5px;
  height: 40px;
}
.header .search form input {
  float: left;
  width: 305px;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 5px;
}
.header .search form span {
  float: left;
  display: block;
  width: 40px;
  text-align: center;
  line-height: 38px;
  height: 38px;
  border: 1px solid #ccc;
  border-left: 0px;
}
.header .search form span:hover {
  background-color: #00a8ff;
  color: #fff;
}
.header .search .innerKeywords {
  position: absolute;
  top: 10px;
  right: 50px;
}
.header .search .innerKeywords a {
  display: block;
  padding: 0 10px;
  background-color: #d9d9d9;
  border-radius: 5px;
  margin: 0 4px;
  height: 22px;
  line-height: 22px;
  color: #353535;
  font-size: 12px;
}
.header .search .innerKeywords a:hover {
  background-color: #00a8ff;
  color: #fff;
}
.header .search .hots {
  width: 347px;
  height: 17px;
}
.header .search .hots a {
  margin-right: 10px;
  color: #333;
  font-size: 14px;
  line-height: 22px;
}
.header .search .hots a:hover {
  color: #35abf2;
}
.header .search .hots a:nth-child(1) {
  color: #35abf2;
}
.footer {
  height: 430px;
  padding-top: 18px;
  border-bottom: 1px solid #ccc;
  background-color: #fafafa;
}
.footer .service {
  width: 1403px;
  height: 44px;
  font-size: 0;
  overflow: hidden;
  margin: 0 auto;
}
.footer .service div {
  float: left;
  text-align: center;
  width: 265px;
  height: 28px;
  border-right: 1px solid #ccc;
}
.footer .service div span {
  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;
}
.footer .service div:nth-child(5) {
  border: 0;
}
.footer .footer-warp {
  height: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footer .footer-warp .helper {
  padding-top: 30px;
  height: 100%;
  padding-bottom: 60px;
}
.footer .footer-warp .helper .helper-list {
  height: 100%;
}
.footer .footer-warp .helper .helper-list dl {
  float: left;
  width: 184px;
  padding-left: 10px;
  height: 100%;
}
.footer .footer-warp .helper .helper-list dl dt a {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2d2d2d;
  line-height: 24px;
}
.footer .footer-warp .helper .helper-list dl dd a {
  line-height: 24px;
  font-size: 14px;
  color: #646464;
}
.footer .footer-warp .helper .helper-list dl dd a:hover {
  color: #00a8ff;
}
.footer .footer-warp .contact {
  height: 100%;
  float: right;
  width: 284px;
  text-align: center;
  margin-right: 0;
}
.footer .footer-warp .contact .contact-title {
  font-size: 30px;
  font-weight: 600;
  color: #333;
}
.footer .footer-warp .contact .contact-subtitle {
  font-size: 14px;
  color: #333333;
}
.footer .footer-warp .contact img {
  width: 209px;
  height: 209px;
  margin: 0 auto;
}
.footer .footer-warp .contact .contact-but {
  display: inline-block;
  width: 150px;
  height: 32px;
  line-height: 32px;
  background-color: #333333;
  font-size: 14px;
  color: #ffffff;
  border-radius: 16px;
  margin: 0 auto;
}
.footer-copy {
  text-align: center;
  line-height: 1.8;
  margin-top: 10px;
  height: 140px;
}
.footer-copy a {
  color: #333;
}
.footer-copy div {
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
.footer-copy div img {
  display: inline-block;
  vertical-align: middle;
}
.footer-copy div p {
  text-align: center;
  display: inline-block;
  text-decoration: none;
  height: 20px;
  line-height: 20px;
  margin: 0px 0px 0px 5px;
  color: #939393;
}
